.THIS.Box {
    
    width:300px;
    height:150px;
    border: 3px;
    margin-left: 650px;
    border-style: dotted;
    border-color:red;
    background-color: #EDEDDE;
}

.THIS.logo {
    width:300px;
    height:150px;
    margin-left: 650px;
    margin-bottom: 25px;
    margin-top: 100px;
}

.THIS.card {
    margin-left: 650px;
    width:300px;
    height:150px;
    border:3px;
    border-color:red;
    padding :20px;
}

.THIS .button {
  
    border:3px;
    border-color:red;
    color:red;
}